
# do not sync model checkpoints
models_store/

# ignore ide files
.idea/
.vscode/

#ignore python cache/bytecode/optimized files
**/__pycache__/
**/*.pyc  
**/*.pyo
**/*.pyd
.pytetst_cache/

#ignore virtualenv
venv/
env/

